@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgb(184, 147, 20);
    flex-wrap: wrap;
    justify-content: space-between;
}


.barra_pesquisa{   
    width: ;
    height: 55px;
    border: solid 7px rgb(144, 115, 19);
    border-radius: 0.49rem;
    padding: 0.3rem;
    font-family:'Arial black', Helvetica, sans-serif;
    font-size: 1rem;
}
.button_pesquisar{
    width: 3.7rem;
    height: 2.1rem;
    position:relative;
    top: 10px;
    left: -75px;
    border-radius: 5px; 
    border: solid 0;
    background-color: rgb(144, 115, 19);
    background-image: url(png/Lupa\ transp\ R\,1\ Tm\,30.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    
} 
.barras-hamburguer{
    position: relative;
    right: 40px;
    height: 38px;
    right: 41px;
    transition: 0.5s ease-in-out;
}
span.hamburguer{ 
    display: block;
    position: relative;
    top: 17px;
    width: 50px;
    height: 4px;
    background: white;
    
}

span.hamburguer:after,
span.hamburguer:before{
    background: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

span.hamburguer:after{
    top: 17px;
}

span.hamburguer:before{
    bottom: 17px;
}

input:checked ~ label .barras-hamburguer{
    transform: rotate(45deg);
}
input:checked ~ label .hamburguer:after{
    transform: rotate(90deg);
    top: 0;
}
input:checked ~ label .hamburguer:before{
    transform: rotate(90deg);
    bottom: 0;
}
.inicio_principal{
    background-image: url(jpg/Biblioteca\ USP\ compacta.jpg);
    display: flex;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
}
.container_transparente{
    order: 2;
    width: 1100px;
    height: 300px;
    padding: 20px;
    margin: 50px 40px 0 0 ;
    background-color: rgba(0, 0, 0, 0.39) ;
    color: white;
    text-align: center;
}
h1.apresentação{
    margin: 5px 5px 30px 15px ;
    font: normal 3rem times;
}   
p.apresentação{
    margin: 5px 5px 10px 15px;
    font: normal 1.5rem times
}
.area_codigos{
    overflow-y: scroll;
    order: 1;
    width: auto;
    max-height: 800px;
    background-color: white;
    padding: 5px 35px 0 10px ;
    font: normal 1.1rem arial;
    border-top: 10px solid rgb(245, 208, 47);
    margin: 2rem 2.3rem 0 2rem ;
}
h3{
    font-weight: 100;    
}
a{  
    text-decoration: none;
    color: black;    
}
ul{
    list-style: none;
    margin: 25px 0 0 15px;
}
li{
    margin: 0 0 13px 0;
}
.scroll{
    overflow: auto; 
}
.area_roxa{
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: rgb(112, 48, 160);
    display: flex;
}
.Curiosidade{
    width: 27rem;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4rem;
    box-shadow: .1rem .1rem .6rem rgba(0, 0, 0, 0.877);  
    margin: auto;
    padding: 1.5rem;
}
.Curiosidade h3, p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0.5rem 0 1rem 0.5rem;
    justify-content: center;
}
.Curiosidade span{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    color: cornflowerblue;
}

