@charset "UTF-8";

/*Inserir Pacotes*/

/*Configurações*/
span.BreakLine{display: block;  margin-top:10px ;}
a{color: black;}

/*Estilo da Página*/
header#cabeçalho{
    width: 100%;
    height: 155px;
    padding: 6px 0 0 20px;
    
    align-items: center;
    
    background-color: rgb(184, 147, 20);
}

.Itens_header{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.barra_pesquisa{   
    width: 880px;
    height: 35px;
    padding: 7px;
    margin: 0px 0 20px 20px;
    
    border: solid 7px rgb(144, 115, 19);
    border-radius: 7px;
    
    font: normal;
    
    font-family: 'Arial black', Helvetica, sans-serif;
    font-size: 1em;
}  

.button_pesquisar{
    position: relative;
    top: 10.8px;
    left: -85px;
    
    width: 70px;
    height: 40px;
    
    border-radius: 5px;
    border: solid 0;
    background-color: rgb(144, 115, 19);    
} 

.Backgroud{
    background-image: url(../imagens/jpg/Biblioteca\ USP\ compacta.jpg);
    display: flex;
    background-position: top -50px center;;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
}
.Backgroud_Boxtxt{
    width: 900px;
    height: 280px;
    order: 2;
    padding: 30px 10px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.39) ;
    color: white;
    text-align: center;
}
#line_title{
    margin: 5px 5px 30px 15px ;
    font: normal 3rem times;
}   
#line_sentence{
    margin: 5px 5px 10px 15px;
    font: normal 1.5rem times
}
.area_codigos{
    overflow-y: scroll;
    order: 1;
    width: auto;
    max-height: 800px;
    background-color: white;
    padding: 5px 35px 0 10px ;
    font: normal 1.1rem arial;
    border-top: 10px solid rgb(245, 208, 47);
    margin: 2rem auto ;
}
.códigos{margin: 25px 0 0 15px;}
.códigos > li{margin: 0 0 13px 0;}

.areaInfo{
    width: 100%;
    height: auto;
    background-color: rgb(112, 48, 160);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Curiosidade, .boxPrincipais_buscas{
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.877);  
    margin: 25px;
    padding: 10px 25px;
}
.Curiosidade{width: 350px;}

.title_info{
    font: bolder 1.3em Arial, Helvetica, sans-serif;
    margin: 8px 0 17px 8px;
}
#sentence_curiosi{
    font: 500 1.2em Arial, Helvetica, sans-serif;
    text-align: justify;
}
#Ler_mais{
    display: block;
    font: bolder 1.1em sans-serif;
    color: cornflowerblue;
    text-align: right;
    margin: 10px;
}
.boxPrincipais_buscas{width: 600px;}

.menu{
    display: grid;
    
}

.menu p{
    /**/
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    margin: 8px;
    background-color: rgb(255, 167, 3);
}
.menu > li > a{
    color: #ffff;
    font: bolder 1.2em sans-serif;
}

#perguntaeresposta{
    background-color: yellow;
}